extends layout

block content
  h1 Write a challenge
  #fb-root
  script(src='/javascripts/challenge_fb.js')
  form(method="POST")
    table
      tr
        td Victim
        td
          select(id = "victim", name = "victim")
      tr
        td Challenge
        td 
          input(id = "challenge", name = "challenge", size = "35")
      tr
        td Reward
        td 
          input(id = "reward", name = "reward", value = "Venmo")
        td#rewardValue
          |$
          input(name = "rewardValue")
    input(id = "challenger", name = "challenger", type = "hidden")
    input(id = "submit", type = "submit")