extends layout

block content
  h1 Complete your registration!
  #fb-root
  script(src='/javascripts/register_fb.js')
    
  form(method="POST")
    p Cell #
      input(id = "phone", name = "phone")
    p Email
      input(id = "email", name = "email")
    input(id = "first_name", name = "first_name", type = "hidden")
    input(id = "last_name", name = "last_name", type = "hidden")
    input(id = "fb", name = "fb", type = "hidden")
    br
    input(type = "submit")